@page
@model IndexModel
@{
    ViewData["Title"] = "Kimz page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <h2>C-sharp is my favorite programming language</h2>
</div>
